In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from Config import google_key

path = ("../output_data/rental_income_merged.csv")
merged = pd.read_csv(path)
merged

,State,2015 Rent,2016 Rent,2017 Rent,'15-'16 Rent Diff.,'16-'17 Rent Diff.,2015 Income,2016 Income,2017 Income,'15-'16 Income Diff.,'16-'17 Income Diff.
0,Alabama,939.58,974.17,997.50,34.59,23.33,46053,48237,51113,2184,2876
1,Alaska,1687.92,1643.96,1588.33,-43.96,-55.63,77717,77351,72231,-366,-5120
2,Arizona,1224.58,1251.67,1336.46,27.09,84.79,54060,58328,61125,4268,2797
3,Arkansas,998.33,1019.17,1045.00,20.84,25.83,44282,46894,48829,2612,1935
4,California,2236.17,2373.75,2602.92,137.58,229.17,65843,68070,69759,2227,1689
5,Colorado,1624.58,1702.50,1795.42,77.92,92.92,68906,72084,74172,3178,2088
6,Connecticut,1741.67,1708.96,1747.50,-32.71,38.54,75417,77556,72780,2139,-4776
7,Delaware,1303.75,1312.50,1320.83,8.75,8.33,59759,59294,62318,-465,3024
8,District of Columbia,2510.00,2535.42,2605.42,25.42,70.00,72501,72508,83382,7,10874
9,Florida,1643.33,1676.67,1733.75,33.34,57.08,50518,52277,53681,1759,1404
10,Georgia,1147.92,1198.00,1296.17,50.08,98.17,52529,54678,57016,2149,2338
11,Hawaii,2370.62,2321.54,2323.50,-49.08,1.96,66751,73684,73575,6933,-109
12,Idaho,999.33,1042.50,1189.17,43.17,146.67,53414,57780,60208,4366,2428
13,Illinois,1587.00,1578.33,1586.08,-8.67,7.75,62508,62706,64609,198,1903
14,Indiana,980.83,990.17,1041.17,9.34,51.00,53786,57300,58873,3514,1573
15,Iowa,1046.46,1069.79,1074.96,23.33,5.17,62965,60365,63481,-2600,3116
16,Kansas,1076.67,1067.50,1070.00,-9.17,2.50,56768,58032,57872,1264,-160
17,Kentucky,987.17,1000.67,1067.50,13.50,66.83,43857,46345,51348,2488,5003
18,Louisiana,1232.92,1225.00,1261.25,-7.92,36.25,47515,43103,43903,-4412,800
19,Maine,1475.00,1438.08,1682.92,-36.92,244.84,52516,51950,51664,-566,-286
20,Maryland,1702.50,1688.75,1695.42,-13.75,6.67,76146,75346,81084,-800,5738
21,Massachusetts,2427.46,2464.12,2518.75,36.66,54.63,70214,73820,73227,3606,-593
22,Michigan,956.83,1018.33,1070.33,61.50,52.00,56083,58319,57700,2236,-619
23,Minnesota,1404.17,1414.17,1482.75,10.00,68.58,71114,71728,71920,614,192
24,Mississippi,1009.17,1032.29,1090.83,23.12,58.54,41426,41983,43441,557,1458
25,Missouri,896.25,923.75,944.58,27.50,20.83,61249,56199,56885,-5050,686
26,Montana,1038.75,1110.00,1201.25,71.25,91.25,53177,58302,59087,5125,785
27,Nevada,1237.50,1259.92,1347.08,22.42,87.16,53812,56623,56550,2811,-73
28,New Hampshire,1464.17,1524.17,1608.54,60.00,84.37,78299,77900,74801,-399,-3099
29,New Jersey,1856.25,1870.83,1916.25,14.58,45.42,70728,69940,72997,-788,3057
30,New Mexico,1122.92,1142.08,1182.08,19.16,40.00,46684,49493,47855,2809,-1638
31,New York,3106.50,3079.17,3202.42,-27.33,123.25,60017,62758,62447,2741,-311
32,North Carolina,1098.17,1144.58,1245.42,46.41,100.84,52559,54920,50343,2361,-4577
33,Ohio,1003.04,1037.50,1020.75,34.46,-16.75,55150,55146,59768,-4,4622
34,Oklahoma,1112.08,1051.21,1037.83,-60.87,-13.38,48710,52039,55006,3329,2967
35,Oregon,1451.67,1575.42,1726.25,123.75,150.83,62944,60407,64610,-2537,4203
36,Pennsylvania,1336.00,1324.58,1337.50,-11.42,12.92,62483,62290,63173,-193,883
37,Rhode Island,1747.71,1762.50,1903.12,14.79,140.62,57633,62851,66390,5218,3539
38,South Carolina,1216.67,1239.17,1304.17,22.50,65.00,47968,55505,54971,7537,-534
39,South Dakota,1037.71,1050.00,1124.21,12.29,74.21,56975,58685,56894,1710,-1791
40,Tennessee,1115.42,1170.42,1259.58,55.00,89.16,48971,52448,55240,3477,2792
41,Texas,1407.92,1413.71,1488.88,5.79,75.17,58432,59396,59295,964,-101
42,Utah,1235.62,1270.46,1381.75,34.84,111.29,68556,68932,71319,376,2387
43,Virginia,1590.83,1595.42,1610.00,4.59,14.58,63618,67880,71293,4262,3413
44,Washington,1568.33,1673.75,1921.17,105.42,247.42,69575,71822,75418,2247,3596
45,West Virginia,1080.62,1046.25,986.88,-34.37,-59.37,44309,45308,45392,999,84
46,Wisconsin,1116.67,1125.83,1179.29,9.16,53.46,57347,61103,63451,3756,2348
47,Wyoming,1207.29,1121.46,1070.83,-85.83,-50.63,63038,59073,57837,-3965,-1236

In [10]:
#Find lowest 3 rental states in 2015
low_rent_15 = merged.sort_values("2015 Rent")
low_rent_15.head(3)

,State,2015 Rent,2016 Rent,2017 Rent,'15-'16 Rent Diff.,'16-'17 Rent Diff.,2015 Income,2016 Income,2017 Income,'15-'16 Income Diff.,'16-'17 Income Diff.
25,Missouri,896.25,923.75,944.58,27.50,20.83,61249,56199,56885,-5050,686
0,Alabama,939.58,974.17,997.50,34.59,23.33,46053,48237,51113,2184,2876
22,Michigan,956.83,1018.33,1070.33,61.50,52.00,56083,58319,57700,2236,-619

In [12]:
#Find lowest 3 income states in 2015
low_income_15 = merged.sort_values("2015 Income")
low_income_15.head(3)

,State,2015 Rent,2016 Rent,2017 Rent,'15-'16 Rent Diff.,'16-'17 Rent Diff.,2015 Income,2016 Income,2017 Income,'15-'16 Income Diff.,'16-'17 Income Diff.
24,Mississippi,1009.17,1032.29,1090.83,23.12,58.54,41426,41983,43441,557,1458
17,Kentucky,987.17,1000.67,1067.50,13.50,66.83,43857,46345,51348,2488,5003
3,Arkansas,998.33,1019.17,1045.00,20.84,25.83,44282,46894,48829,2612,1935